* {margin:0;padding:0;}
body {
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;color: #333;line-height: 1.7;background: linear-gradient(#6e0470, #8b50e5) fixed;}
ul {list-style: none;}
img {vertical-align: bottom;}
h1 {margin-bottom: 30px;color: #fff;text-align: center;text-shadow: 2px 2px 0 #222;}
.gallery {width: 850px;margin: 60px auto 0;
}
.gallery li {float: left;position: relative;width: 270px;margin: 0 20px 40px 0;border: 10px solid #fff;box-shadow: 5px 5px 5px #222;background: #fff;z-index: 1;
box-sizing: border-box;transform: scale(1.0);transition: all 0.3s ease-out;}
.gallery li:nth-child(3n) {margin: 0 0 20px 0;}
.gallery .photo1 {transform: rotate(-5deg);}
.gallery .photo2 {transform: rotate(3deg);}
.gallery .photo3 {transform: rotate(-5deg);}
.gallery .photo4 {transform: rotate(-6deg);}
.gallery .photo5 {transform: rotate(8deg);}
.gallery .photo6 {transform: rotate(5deg);}
.gallery li:hover {z-index: 10;transform: scale(1.5) rotate(0deg);}
.gallery:after {clear: both;content: "";display: table;}
